# Cloudinary credentials
CLOUDINARY_CLOUD_NAME=dthyqyzjd
CLOUDINARY_API_KEY=691382758756781
CLOUDINARY_API_SECRET=ZPU4w0fjlzQEdT14YjVtTtZcrA4 

# Freepik API key
FREEPIK_API_KEY=FPSX1c4848fca8ee4801ade3c007a34f08bb

